<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nykyrian_q.incidentresponse1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity">
        </activity>
        <activity
            android:name=".CaseHomeActivity"
            android:parentActivityName=".LoginActivity">
        </activity>
        <activity
            android:name=".NewCaseActivity"
            android:parentActivityName=".CaseHomeActivity">
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:parentActivityName=".NewCaseActivity">
        </activity>
        <activity
            android:name=".CaseAnalysisActivity"
            android:parentActivityName=".CaseAnalysisActivity">
        </activity>
        <activity
            android:name=".ShareCaseActivity"
            android:parentActivityName=".CaseHomeActivity">
        </activity>
        <activity
            android:name=".CaseDetailsActivity"
            android:parentActivityName=".CaseHomeActivity">
        </activity>
    </application>

</manifest>
